.header {
    display: block;
    text-align: left;
    max-width: 880px;
    height: 120px;
    margin: auto;
    border-bottom: 1px solid rgb(84, 84, 84, 0.7);
    margin-bottom: 2px;
}
@media screen and (max-width: 630px) {
    .header {
            height: 85px;
            max-width: 284px;
        }
}